<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="ConexionBD"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=DEVELOPERNET\SQLEXPRESS_NEW;Initial Catalog=DbIntermerdio;User id=sa;Password=1234;" />
  </connectionStrings>

  <appSettings>
    <add key="wsEntrada" value="https://sap-solpe.herokuapp.com/php/ws_entrada.php"/>
    <add key="wsSalida" value="https://sap-solpe.herokuapp.com/php/ws_salida.php"/>
    <add key="wsSolicitud" value="https://sap-solpe.herokuapp.com/php/ws_solicitud.php"/>
  </appSettings>

</configuration>